body {
  background-color: #eee;
  overflow: hidden;
}
#bezier-canvas{
/*  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;*/
  position: absolute;
  z-index: 0;
  background-color: transparent;
}
.container{
  width: 90%!important;
}
.wrap_map{
  width: 1200px;
  height: 900px;
  overflow: hidden;
  border: 1px solid #ccc;
}
.wrap_map:hover{
  border: 1px solid #aaa;
}
canvas {
  cursor: crosshair;
  margin: 0 0;
  background-color: #fff;
}
canvas.select {
  cursor: default !important;
}


#dataMap{
  position: absolute;
}

#map_bg{
 
 
  overflow: hidden;
  background-repeat: no-repeat;
  width: 1200px;
  height: 930px;
  position: relative;
}

.vectorlist-wrapper {
  background-color: #aaa;
  border-left: 1px solid rgba(0,0,0,0.25);
  font-family: "Helvetica", sans-serif;
  position: fixed;
  right: -95px;
  top: 0px;
  width: 100px;
  max-height: 600px;
  overflow-y: auto;
}

.vectorlist-wrapper:after {
  height: 30px;
  content: ":";
  color: #fff;
  width: 5px;
  border-left: 1px dashed #eee;
  position: fixed;
  right: 2px;
  top: 45%;
}

.vectorlist-wrapper:hover {
  background-color: rgba(255,255,255,0.8);
  box-shadow: -2px 0px 4px rgba(0,0,0,0.15);
  z-index: 9999;
  right: 0px;
  width: 120px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.vectorlist-wrapper:hover:after {
  display: none;
}

.vectorlist-wrapper h3 {
  background-color: #fff;
  padding: 7px 5px;
  font-size: 0.65em;
  color: #088;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid #ddd; 
}

.vectorlist > li {
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-left: 5px solid #08c;
  cursor: pointer;
  padding: 5px 20px;
  font-size: 0.65em;
  text-transform: upper;
  background-color: rgba(255,255,255,0.10);
  -webkit-transition: all 0.3s 0.2s;
  -moz-transition: all 0.3s 0.2s;
  -o-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}


.vectorlist > li:hover {
  background-color: #fff;
  color: #0c8;
  padding: 5px 35px 5px 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.vectorlist > li:nth-of-type(2n) {
  border-left: 5px solid #0c8;
}


.tools {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
.tool {
  display: block;
  float: left;
  font-family: "Helvetica Neueu", "Helvetica", "Arial", sans-serif;
  margin: 0 0;
  padding: 6px 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #004;
  background-color: #ddd;
  border: none;
}

.tool > span {
  display: inline-block;
  position: relative;
  top: -2px;
  line-height: 1em;
  padding: 1px 3px;
  font-size: 0.65em;
  color: rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.2);
}

.tool.active > span {
  color: #ccf;
  border: 1px solid #ccf;
}

.tool:hover:not(.active) {
  cursor: pointer;
  background-color: #fff;

  color: #000;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


.tool:active, .tool.active, button .tool:focus {
  background-color: #48b;
  color: #fff;
}

.tool.active:before {
  content: "using ";
  color: #ddd;
}

.disabled, .disabled:hover {
  cursor: default !important;
  opacity: 0.5;
}

    html, body {
      color: #023300;
      background: #f3e5f5;
      padding:0;
      margin:0;
      width:100%;
      min-height:100%;
      height: 100%;

    }
    body{
      overflow: auto;
    }
    .centered{
      display: flex;
      justify-content: center;
      position: relative;
      margin-top:20px;
      letter-spacing: 1px;
      color: #100;
    }
    #container {
      height:400px;
      width:400px;
    }
    #left {
      float:left;
      width:50%;
    }
    #right {
      float:left;
      width:50%;
      left:50%;
    }
    textarea{
      margin: 10px 0px;
      font-style: italic;
      min-height: 110px;
    }

    .map_gallery{
      width: 100%;
    }

    .gallery_item:hover{

      background-color: #F3D6E4;
      border-radius: 12px;
      transform: scale(1.1,1.1);
      transition: 0.4s;
      -webkit-box-shadow: 0px 0px 74px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 74px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 74px 0px rgba(0,0,0,0.75);
    }
    .active_block{
      background-color: #ffcf85;
      border-radius: 12px;
      transform: scale(1.1,1.1);
      transition: 0.6s;
      -webkit-box-shadow: 0px 0px 74px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 74px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 74px 0px rgba(0,0,0,0.75);
    }
    .buttons_bar{
      margin-top: 8px;
    }
    #test {
      background:#FF0000;
      height:10px;
      width:10px;
      margin-top:-5px;
      margin-left:-5px;
      border-radius:5px;
      position:relative;
    }
  h1{
    margin-top: 10px;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: bold;
    text-align: center;
    font-size: 2.5rem;
    color: #64b5f6;
    text-shadow: 3px 0px 9px rgba(69, 150, 150, 0.43);
  }
  nav{
    background-color: #4db6ac;
  }

  .tap-target-wrapper.open .tap-target{
    transform: scale(3.2);
    opacity: 0.75;
  }
  .tap-target-content{
    line-height: 20px;
    font-size: 0.7em;
    padding: 0 110px!important;
  }


.navbar-fixed, nav.nav-extended{
  height: 48px;
  line-height: 48px;
}
.page-footer{
  padding-top: 0;
  margin-top: 3%;
  background-color: #4db6ac;
}

  #buttonWrapper {
    position: absolute;
    width: 30px;
    top: 2px;
    right: 2px;
  }

  .editor_button{       
    padding: 8px 6px 0px 2px;
    width: 30px;
    margin: 0px 0px 2px 0px;
    outline: none;
  }
  button:focus{ 
    border: #000;
  }

  .material-icons{
    color: #00796b;
    }
  nav i.material-icons{
    line-height: 41px;
    font-size: 30px;
    }
  #menu{
    margin-right: 10px;
    margin-top: 3px;
   }
  .result {
    width: 5em;
    height: 5em;
    border-radius: 30%;
    box-shadow: 0 2px 6px #000;
    background: #95C066;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2em;
  }
  .indicator{
    display: none;
  }

.colorPicker{
  margin: 0 auto;
}
.flex_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rangePicker {

  /*text-align: center;*/
}
input[type=range]{
  margin: 0 auto;
}
table tr, th,td{
  border: 1px solid #ccc;
  position: relative;
}
td{
 /* padding: 10px 0 ;*/
  width: 80%;
}
th{
  text-align: center;
}
table p{
  font-style: italic;
}
.minicolors-theme-default .minicolors-input{
  height: 30px!important;
  border-radius: 4px;
  outline: none;
  color: #000;
}
.map_settings_block{
  width: 400px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}
#circle_example{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  border: 2px solid #000;
  margin: 0 auto;
}
.routeExample{
  width: 60%;
  height: 2px;
}
.route_type_block{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.align_selection{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.test_block{
  width: 100%;
  height: 100px;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fce4ec;
}
.content_block{
  background-color: #ce93d8 ;
  width: 50%;
  border: 1px solid #ccc;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center_align{
  justify-content: center!important;
    width: 80%;
  border: 1px solid green;
  height: 80px;
  display: flex;
  align-items: center;
}
.left_align{
  justify-content: flex-start!important;
    width: 80%;
  border: 1px solid green;
  height: 80px;
  display: flex;
  align-items: center;
}
.right_align{
  justify-content: flex-end!important;
      width: 80%;
  border: 1px solid green;
  height: 80px;
  display: flex;
  align-items: center;
}
#projectName{
  text-transform: uppercase;
  color: #4db6ac;
}
#projectDescription{
  font-style: italic;
  color: #4db6ac;
  max-width: 738px;
  min-width: 738px;
}
.centered_form{
    
    justify-content: space-around;
    align-items: center;
    display: none;
}
.additional_settings{
  display: none;
}
.icon_gallery{
  display: flex;
  justify-content: space-around;
  width: 100%;

}
.icon_gallery__item{
  cursor: pointer;
}
.centered{
  letter-spacing: 0!important;
}