body {
  background-color: #eee;
  overflow: hidden;
}

canvas {
  cursor: crosshair;
  margin: 0 0;
  border: 1px solid #ccc;
  background-color: #fff;
}
canvas.select {
  cursor: default !important;
}

canvas:hover {
  border: 1px solid #aaa;
}


.vectorlist-wrapper {
  background-color: #aaa;
  border-left: 1px solid rgba(0,0,0,0.25);
  font-family: "Helvetica", sans-serif;
  position: fixed;
  right: -95px;
  top: 0px;
  width: 100px;
  max-height: 600px;
  overflow-y: auto;
}

.vectorlist-wrapper:after {
  height: 30px;
  content: ":";
  color: #fff;
  width: 5px;
  border-left: 1px dashed #eee;
  position: fixed;
  right: 2px;
  top: 45%;
}

.vectorlist-wrapper:hover {
  background-color: rgba(255,255,255,0.8);
  box-shadow: -2px 0px 4px rgba(0,0,0,0.15);
  z-index: 9999;
  right: 0px;
  width: 120px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.vectorlist-wrapper:hover:after {
  display: none;
}

.vectorlist-wrapper h3 {
  background-color: #fff;
  padding: 7px 5px;
  font-size: 0.65em;
  color: #088;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid #ddd; 
}

.vectorlist > li {
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-left: 5px solid #08c;
  cursor: pointer;
  padding: 5px 20px;
  font-size: 0.65em;
  text-transform: upper;
  background-color: rgba(255,255,255,0.10);
  -webkit-transition: all 0.3s 0.2s;
  -moz-transition: all 0.3s 0.2s;
  -o-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}


.vectorlist > li:hover {
  background-color: #fff;
  color: #0c8;
  padding: 5px 35px 5px 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.vectorlist > li:nth-of-type(2n) {
  border-left: 5px solid #0c8;
}


.tools {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
.tool {
  display: block;
  float: left;
  font-family: "Helvetica Neueu", "Helvetica", "Arial", sans-serif;
  margin: 0 0;
  padding: 6px 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #004;
  background-color: #ddd;
  border: none;
}

.tool > span {
  display: inline-block;
  position: relative;
  top: -2px;
  line-height: 1em;
  padding: 1px 3px;
  font-size: 0.65em;
  color: rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.2);
}

.tool.active > span {
  color: #ccf;
  border: 1px solid #ccf;
}

.tool:hover:not(.active) {
  cursor: pointer;
  background-color: #fff;

  color: #000;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


.tool:active, .tool.active, button .tool:focus {
  background-color: #48b;
  color: #fff;
}

.tool.active:before {
  content: "using ";
  color: #ddd;
}

.disabled, .disabled:hover {
  cursor: default !important;
  opacity: 0.5;
}

