$color_1: #5d5c56;
$background_color_1: rgba(255,255,255,0.8);

body {
	height: 2000px;
	background: #fffde7;
	color: $color_1;
}
.slick-item {
	max-width: 100%;
	width: 100% !important;
	height: auto;
}
.js-section {
	br {
		display: none;
	}
}
.slick-single {
	br {
		display: none;
	}
	width: 100% !important;
}
.slick-slider {
	.slick-list {
		transform: none;
	}
}
.wrapper {
	width: 100%;
	height: 1040px;
}
.mapbg {
	width: 1900px;
	position: fixed;
	z-index: -2;
	opacity: 0.7;
}
.slider {
	height: auto;
}
.flex_right {
	display: flex !important;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}
div.text_wrapper {
	display: flex !important;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	padding: 5em 3em;
	z-index: 1000;
}
#textWrap {
	position: relative;
	z-index: 2000;
}
.text_wrapper {
	p {
		max-width: 700px;
		margin: 0 0 2%;
	}
	section {
		display: flex;
		flex-direction: column;
		width: 700px;
		max-width: 700px;
		text-align: left;
	}
}
#coords {
	position: absolute;
	right: 5px;
	bottom: 5px;
	padding: 3px 6px;
	background-color: $background_color_1;
}
#lightPath {
	-moz-transform-origin: 520px 300px;
	-ms-transform-origin: 520px 300px;
	-o-transform-origin: 520px 300px;
	-webkit-transform-origin: 520px 300px;
	transform-origin: 520px 300px;
}
.single_image {
	img {
		width: 100% !important;
	}
}
